html{
  margin: 0;
}

body.lock{
  overflow: hidden;
}

.App{
  position: relative;
  margin: 0;
  width: 1920px;
  height: 1300px;

  .header{
    margin: 40px 50px 0px 50px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;

    .header__logo{

      p{
        margin: 0;
        font-style: normal;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
      }
    }

    .navigate{

      .header__nav{

        .nav__link{
          margin: 0px 25px 0px 25px;
          text-decoration: none;
          font-style: normal;
          font-size: 18px;
          font-weight: 400;
          line-height: 21px;
          color: black;
  
          &:visited{
            color: black;
          }
        }
      }
  
      .header__link{
        display: flex;
  
        .links__language{
          margin-right: 20px;
  
          .link__language{
            margin: 5px;
            text-decoration: none;
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            color: black;
  
            &:visited{
              color: black;
            }
          }
        }
  
        .links__start{
  
          .link__start{
            color: rgba(56, 138, 243, 1);
            text-decoration: none;
            font-style: normal;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
  
            &:visited{
              color:rgba(56, 138, 243, 1);
            }
          }
        }
      }
    }
  }

  .body__container{
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    height: 615px;
    width: 1150px;

    .body__nav{
      display: flex;

      .link__nav{
        text-decoration: none;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        margin-right: 5px;
        color:rgb(70, 67, 67);


        &:visited{
          color:rgb(70, 67, 67)
        }
      }

      .text__nav{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin: 0;
      }
    }

    .body__headers{
      width: 450px;

      .body__header{
        margin: 50px 0px 5px 0px;
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 120px;
        color: #388AF3;
      }

      .body__text{
        margin: 0;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;

        .body__link{
          text-decoration: none;
          font-weight: 500;
          font-size: 18px;
          line-height: 30px;
          color: #388AF3;

          &:visited{
            color: #388AF3;
          }
        }
      }
    }

    .body__form{

      .contact__form{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .form__items{
          width: 740px;

          .form__group1{
            display: flex;

            .form__item{
              margin-top: 20px;
              margin-right: 10px;
              position: relative;
  
              .input__name{
                font-family: 'Courier New', Courier, monospace;
                font-size: 24px;
                width: 350px;
                height: 35px;
                position: relative;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                border-bottom: 1px solid rgba(161, 161, 161,0.6);
  
                &:focus{
                  outline: none;
                }

                &:hover + label,
                &:focus + label,
                &:valid + label{
                  top: -20px;
                  font-size: 15px;
                }
              }
  
              .input__email{
                font-size: 24px;
                width: calc(740px - 350px - 15px);
                height: 35px;
                position: relative;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                border-bottom: 1px solid rgba(161, 161, 161,0.6);
  
                &:focus{
                  outline: none;
                }

                &:hover + label,
                &:focus + label,
                &:valid + label{
                  top: -20px;
                  font-size: 15px;
                }
              }
  
              .form__label{
                position:absolute;
                left: 0;
                top: 7px;
                font-weight: 300;
                font-size: 26px;
                line-height: 31px;
                color: #CCCCCC;
                transition: all .3s ease;
  
                .form__span{
                  color: red;
                }
              }
            }
          }

          .form__group2{
            margin-top: 50px;

            .form__item{
              margin-top: 20px;
              margin-right: 10px;
              position: relative;

              .input__comment{
                font-size: 24px;
                width: 740px;
                height: 50px;
                position: relative;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                border-bottom: 1px solid rgba(161, 161, 161,0.6);
  
                &:focus{
                  outline: none;
                }

                &:hover + label,
                &:focus + label,
                &:valid + label{
                  top: -15px;
                  font-size: 15px;
                }
              }
  
              .form__label{
                position:absolute;
                left: 0;
                top: 10px;
                font-weight: 300;
                font-size: 26px;
                line-height: 31px;
                color: #CCCCCC;
                transition: all .3s ease;
  
                .form__span{
                  color: red;
                }
              }

              .checkbox__label{
                display: flex;
                align-items: center;  

                .checkbox__input{
                  cursor: pointer;
                  margin-right: 25px;
                  position: relative;
                  height: 30px;
                  width: 30px;
                  -webkit-appearance: none;

                  &::before{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    border: 1px solid rgba(161, 161, 161,0.6);
                    box-sizing: border-box;
                  }

                  &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 10px;
                    width: 10px;
                    background: #388AF3;
                    border-radius: 50%;
                    transform: scale(0) translate(-50%, -50%);
                    transform-origin: 0 0;
                    transition: all .2s;
                  }

                  &:checked::after{
                    transform: scale(1) translate(-50%, -50%);
                  }
                }

                .checkbox__text{
                  font-style: normal;
                  font-weight: 300;
                  font-size: 18px;
                  line-height: 27px;

                  .checkbox__link{
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #388AF3;
          
                    &:visited{
                      color: #388AF3;
                    }
                  }
                }
              }
            }
          }
        }

        .form__buttons{

          .form__button{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 228px;
            height: 228px;
            border-radius: 50%;
            border: 5px solid  #388AF3;
            
            .button__img{
              position: absolute;
              top: 60px;
              transition: .5s ease;
              z-index: 2;

            }

            .button__span-first{
              position: absolute;
              top: 120px;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 20px;
              color: #388AF3;
              transition: .5s ease;
            }

            &:hover {
              background-color: #388AF3;
              transition: .5s ease;
            }

            &:hover .button__img{
              transform: translate(55px, -45px) scale(1.8);
              transition: .5s ease;
            }

            &:hover .button__span-first{
              top: 100px;
              color: #fff;
              transition: .5s ease;
            }

            .button__span-second{
              transform: scale(0);
              position: absolute;
              top: 90px;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 20px;
              color: #fff;
              transition: .5s ease;
            }

            .button__img.hide{
              transform: translate(95px, -75px) scale(0);
              transition: .5s ease;
            }

            .button__span-second.show{
              transform: scale(1);
              transition: .5s ease;
            }

            .button__span-first.hide{
              transform: scale(0);
              transition: .5s ease;
            }
          }

          .form__button.send{
            background-color:  #388AF3;
          }
        }
      }
    }
  }

  .footer{  
    position: absolute;
    margin: 0;
    width: 1920px;
    height: 300px;
    background: linear-gradient(93.29deg, #388AF3 21.04%, #A483E2 88.77%);
    bottom: 0px;

    .footer__container{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 1200px;
      height: 250px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 5px;

      .footer__content{
        display: flex;
        justify-content: space-between;

        .footer__logo{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
       
          p{
            margin: 0;
            font-style: normal;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 800;
            font-size: 40px;
            line-height: 50px;
            color: #fff;
  
          }
        }

        .footer__column{
          display: flex;

          .content__column{
            margin-left: 100px;
            width: 215px;
            display: flex;
            flex-direction:column;
  
            .column__header{
              margin-top: 15px;
              position: relative;
              display: inline-block;
              width: min-content ;
              min-width: 20px;
              font-style: normal;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              font-weight: 700;
              font-size: 25px;
              line-height: 31px;
              color: #fff;
  
              &::before{
                position: absolute;
                right: -20px;
                top: 13px;
                content: '';
                display: block;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: #fff;
              }
            }
  
            .column__link{
              text-decoration: none;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #fff;
              margin-bottom: 20px;
            }
  
            p{
              margin-top: 0;
            }
  
            .column__text{
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              color: #fff;
            }
          }
        }

      }

      .footer__link{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 30%;
        left: 100%;

        .column__link{
          margin-bottom: 20px;
        }
      } 

      .footer__corp{
        flex-direction: row-reverse;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        small{
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #fff;

          a{
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #fff;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 922px) {
  .App{
    max-width: 922px;
    height: 1550px;

    .header{
      margin: 30px 40px 0px 40px;
      max-width: 840px;

      .navigate{

        .header__nav{
          position: absolute;
          transform: scale(0);
        }
      }
    }

    .body__container{
      margin-top: 120px;
      margin-left: 40px;
      max-width: 750px;

      .body__form{

        .contact__form{
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .form__buttons{
            margin: 60px 0px 80px 0px;
          }
        }
      }
    }

    .footer{
      position: absolute;
      max-width: 922px;
      height: 470px;

      .footer__container{
        max-width: 810px;
        height: 410px;
        
        .footer__content{
          flex-direction: column;

          .footer__column{
            display: flex;
            margin-top: 40px;

            .content__column{
              margin-left: 0px;
              margin-right: 100px;
            }
          }
        }

      .footer__link{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 21%;
        left: 95%;

        .column__link{
          margin-bottom: 20px;
        }
      } 

        .footer__corp{
          margin-top: 100px;
          flex-direction: row-reverse
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .App{
    max-width: 414px;
    height: 1930px;

    .header{  
      z-index: 3;
      margin-top: 0;
      padding-top: 30px;
      background-color: #fff;
      position: sticky;
      top: 0;
      max-width: 334px;

      .header__logo{
        z-index: 3;
        p{
          font-size: 30px;
          line-height: 38px;
        }
      }

      .navigate{
        padding-left: 40px;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: -500px;
        height: 100vh;
        width: 100vw;
        background-color: #fff;
        transition: .5s ease;

        .header__nav{
          padding-top: 80px;
          position: relative;
          height: 50vh;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          transform: scale(1);

          .nav__link{
            margin: 0;
          }
        }

        .header__link{
          height: 35vh;
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-around;
        }

        &.active{
          left: 0px;
        }
      }

      .burger__menu{
        cursor: pointer;
        display: block;
        position: relative;
        width: 30px;
        height: 8px;
        cursor: pointer;
        transition: .5s ease;
        z-index: 5;

        & span,
        &::before,
        &::after {
          left: 0;
          position: absolute;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          transition: all 0.6s ease 0s;
          background-color:rgba(56, 138, 243, 1);
        }

        &::after{
          content: '';
          left: 50%;
        }

        &::before{
          content: '';
          left: 100%;
        }

        &.active{
          height: 30px;

          & span{
            transform: scale(0);
          }

          &::after{
            left: 0;
            transform: rotate(45deg) translate(0px, 50%); 
            bottom: 50%;
            width: 100%;
            height: 4px;
            border-radius: 4px;
          }

          &::before{
            left: 0;
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%); 
            width: 100%;
            height: 4px;
            border-radius: 5px;
          }
        }
      }
    }

    .body__container{
      margin-top: 60px;
      max-width: 334px;

      .body__nav{
        display: flex;
  
        .link__nav{
          font-weight: 300;
          font-size: 12px;
          line-height: 14px;
        }
  
        .text__nav{
          font-weight: 300;
          font-size: 12px;
          line-height: 14px;
        }
      }

      .body__headers{
        max-width: 334px;
  
        .body__header{
          font-weight: 700;
          font-size: 40px;
          line-height: 40px;
        }
      }

      .body__form{

        .contact__form{

          .form__items{
            max-width: 334px;

            .form__group1{
              max-width: 334px;
              flex-direction: column;

              .form__item{
                margin-top: 55px;

                .input__name{
                  max-width: 334px;
                }

                .input__email{
                  max-width: 334px;
                }

                .form__label{
                  font-weight: 400;
                  font-size: 22px;
                  line-height: 26px;
                }
              }
            }

            .form__group2{

              .form__item{

                .input__comment{
                  max-width: 334px;
                }

                .form__label{
                  font-weight: 400;
                  font-size: 22px;
                  line-height: 26px;
                }

                .checkbox__label{

                  .checkbox__text{
                    max-width: 334px;
                  }

                  .checkbox__input{
                    margin-right: 15px;

                  }
                }
              }
            }
          }

          .form__buttons{
            margin-top: 40px;

            .form__button{
              width: 217px;
              height: 217px;

              .button__span-first{
                font-size: 18px;
                line-height: 20px;
              }

              .button__span-second{
                font-size: 18px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }

    .footer{
      max-width: 414px;
      height: 776px;

      .footer__container{
        max-width: 334px;

        .footer__content{

          .footer__column{
            flex-direction: column;

            .content__column{

              .column__header{
                margin-bottom: 20px;
              }
            }
          }
        }

        .footer__corp{
          margin-top: 30px;
          display: flex;
          flex-direction: column;

          small{
            margin-bottom: 15px;
          }
        }

        .footer__link{
          top: 530px;
          left: 60%;
        }
      }
    }
  }
}